﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>TITANES - CURSOS DE FORMACIÓN</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <LINK href="~/Content/estilos.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="login">
        <div class="row padding bordertop">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 logotipo ">
                @if ((string)System.Web.HttpContext.Current.Session["logopais"] == "IT")
                {
                    <img src="~/img/logoitaliano.jpg"/><br /><br />
                }
                else
                {
                    <img src="~/img/logo.jpg"  /><br /><br />
                }
                <span></span>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 formulario">
                <div class="form-group">
                    <p style='color: red' id='errorlogin'>
                        @ViewBag.ErrorLogin
                    </p>
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {

                        <br /><h4>@CursosAgentesResources.Document:</h4>
                        <input type="text" class="form-control" id="dni" name="dni" /><br />
                        <h4>@CursosAgentesResources.Phone:</h4>
                        <input type="text" class="form-control" id="usuario" name="usuario" /><br />
                        <h4>@CursosAgentesResources.Password:</h4>
                        <input type="password" class="form-control" id="password" name="password" /><br />
                        <button class="btn botonAcceder" type="submit">@CursosAgentesResources.Login</button>

                    }
                </div>
            </div>

        </div>


    </div>

</body>
</html>
