﻿@model CursosAgentes.Models.CursosTexts
@{
    List<CursosAgentes.Models.CursosRespuestas> listaRespuestasFiltrado = ViewBag.listaRespuestasFiltrado;
    List<CursosAgentes.Models.CursosPreguntas> listaPreguntasFiltrado = ViewBag.listaPreguntasFiltrado;
    List<CursosAgentes.Models.CursosCursos_Usuarios> listaCursosUsuarios = ViewBag.listaCursosUsuarios;
    List<CursosAgentes.Models.CursosDocumentaciones> listaDocumentaciones = ViewBag.listaDocumentaciones;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>TITANES - @CursosAgentesResources.TrainingCourse</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <LINK href="~/Content/admin.css" rel="stylesheet" type="text/css">
    <style>

        a {
            text-decoration: none;
            color: black;
        }

        .contenido {
            margin-top: 50px;
            margin-bottom: 50px;
            border: 3px #ff8c00 solid;
            border-radius: 30px;
        }

        hr {
            width: 70%;
            border: 1px solid #ff8c00;
            border-radius: 30px;
        }

        .modal-content {
            background-color: lightgray;
        }

        .botonAcceder {
            background-color: #ff8c00;
            color: white;
        }
        .td-10 {
            border-bottom:0px !important;
        }

    </style>
    <script>

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="container contenido">
            <br />
            @if ((string)System.Web.HttpContext.Current.Session["contexto"] == "IT")
            {
                <img src="~/img/logoitaliano.jpg" width="25%" /><br /><br />
            }
            else
            {
                <img src="~/img/logo.jpg" width="25%" /><br /><br />
            }
            <h1 class="titulo-principal" style="color:#ff8c00"><b>@Model.NOMBRE</b></h1>
            <hr />
            <br /><br />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">

                    @using (Html.BeginForm("Documentacion", "Cursos", FormMethod.Post))
                    {
                        <button class="btn btn-outline-info" type="submit"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;@CursosAgentesResources.Temary</button>
                        <input type="text" name="idCurso" value="@Model.ID_CURSO" style="display:none" />
                        <br /><br />
                    }
                </div>
            </div>

            @using (Html.BeginForm("insertarTextUsuario", "Cursos", FormMethod.Post))
            {

                <input type="text" name="id_curso" value="@Model.ID_CURSO" style="display:none" />
                <input type="text" name="text" style="display:none" value="@Model.ID" />
                <table style="width:100%">
                    @{
                        int contador = 1;


                    }
                    @foreach (var list in listaPreguntasFiltrado)
                    {
                        <tr>
                            <td>
                                <h5 style="padding-top:20px;padding-bottom:20px">@contador - @list.TEXTO</h5>
                                <input type="text" name="pregunta-@contador" style="display:none" value="@list.ID" />


                            </td>
                        </tr>


                        foreach (var resp in listaRespuestasFiltrado)
                        {
                            int cont = 0;
                            if (resp.ID_PREGUNTA == list.ID)
                            {
                                <tr style="text-align:left">

                                    <td>
                                        @foreach (var resp2 in listaRespuestasFiltrado)
                                        {
                                            if (resp2.CORRECTA == 1 && resp2.ID_PREGUNTA == list.ID)
                                            {
                                                cont = cont + 1;

                                            }
                                        }

                                        @if (cont == 2)
                                        {
                                            @:<input type="checkbox" name="respuesta-usu-@contador" value="@resp.ID" />&nbsp; @resp.TEXTO
                                            @:<input type="text" name="respuesta-@contador" value="@resp.ID" style="display:none" />
                                        }
                                        else
                                        {
                                            @:<input type="radio" name="respuesta-usu-@contador" value="@resp.ID" />&nbsp; @resp.TEXTO
                                            @:<input type="text" name="respuesta-@contador" value="@resp.ID" style="display:none" />
                                        }


                                    </td>

                                </tr>

                            }

                        }
                        <tr>

                            <td class="td-@contador" style="border-bottom:1px solid lightgrey;padding-bottom:50px !important"></td>
                        </tr>
                        contador = contador + 1;

                    }


                </table>

                <button class="btn botonAcceder" type="submit">@CursosAgentesResources.Deliver</button>

            }

        </div>
    </div>

</body>
</html>