﻿@model CursosAgentes.Models.CursosCursos
@{
    List<CursosAgentes.Models.CursosCursos_Usuarios> listaCursosUsuarios = ViewBag.listaCursosUsuarios;
    List<CursosAgentes.Models.CursosTexts> listaText = ViewBag.listaText;
    List<CursosAgentes.Models.CursosDocumentaciones> listaDocumentaciones = ViewBag.listaDocumentaciones;
    List<CursosAgentes.Models.CursosPuntuaciones> listaPuntuaciones = ViewBag.listaPuntuaciones;
    List<CursosAgentes.Models.CursosUsuarios> listaUsuarios = ViewBag.listaUsuarios;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>TITANES - @CursosAgentesResources.TrainingCourse</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <LINK href="~/Content/admin.css" rel="stylesheet" type="text/css">
    <style>

        a {
            text-decoration: none;
            color: black;
        }

        .contenido {
            margin-top: 50px;
            margin-bottom: 50px;
            border: 3px #ff8c00 solid;
            border-radius: 30px;
        }

        hr {
            width: 70%;
            border: 1px solid #ff8c00;
            border-radius: 30px;
        }

        .modal-content {
            background-color: lightgray;
        }

        .botonAcceder {
            background-color: #ff8c00;
            color: white;
        }
        #texts {
            pointer-events:none;
            cursor:default;
            opacity:0.5;
        }
        .text-1 {
            pointer-events: initial !important;
            cursor: pointer !important;
            opacity: 1.0 !important;
            _pointer-events: initial !important;
            _cursor: pointer !important;
            _opacity: 1.0 !important;
        }
    </style>
    <script>
        function elegirPregunta(id) {
            for (var i = 1; i < 11; i++) {
                if (i != id) {

                    document.getElementById("preguntaCaja-" + i).style.display = "none";

                } else {
                    document.getElementById("preguntaCaja-" + i).style.display = "block";

                }
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="container contenido">
            <br />
            @if ((string)System.Web.HttpContext.Current.Session["contexto"] == "IT")
            {
                <img src="~/img/logoitaliano.jpg" width="25%" /><br /><br />
            }
            else
            {
                <img src="~/img/logo.jpg" width="25%" /><br /><br />
            }
            <h1 class="titulo-principal" style="color:#ff8c00"><b>@Model.NOMBRE @DateTime.Today.Year</b></h1>
            <hr />
            <br /><br />
            @foreach (var usu in listaUsuarios)
            {
                if ((int)Session["idUsuario"] == usu.ID && usu.ADMIN == 1)
                {
                    <button class="btn btn-success" data-toggle="modal" data-target="#modal-crear-text">Nuevo Text +</button>
                    <br /><br />

                    <!--MODAL CREAR TEXT-->

                    <div class="modal" tabindex="-1" role="dialog" id="modal-crear-text">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">CREAR TEXT</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    @using (Html.BeginForm("crearTextCurso", "Cursos", FormMethod.Post))
                                    {

                                        @:<div class="form-group">
                                            <label for="">NOMBRE TEXT:</label><br />
                                            <input type="text" class="form-control" name="nombreText" required /><br />
                                            <input type="text" class="form-control" name="id_curso" value="@Model.ID" style="display:none" required />
                                            <label for="">ELIGE UNA PREGUNTA:</label>

                                            <select class="form-control" onchange="elegirPregunta(this.value)">
                                                <option>Elige una pregunta</option>
                                                @for (int i = 1; i < 11; i++)
                                                {
                                                    <option value="@i" name="preguntaElegida">Pregunta @i</option>
                                                }

                                            </select><br />

                                            for (int i = 1; i < 11; i++)
                                            {
                                                <div id="preguntaCaja-@i" style="display:none">
                                                    <label for="">PREGUNTA @i:</label><br />
                                                    <input type="text" class="form-control" name="pregunta-@i" required /><br />
                                                    @for (int x = 1; x < 5; x++)
                                                    {

                                                        <label for="">RESPUESTA @x:</label><br />
                                                        <input type="text" class="form-control" name="respuesta-@i-@x" required /><br />

                                                    }
                                                    <label for="">RESPUESTA CORRECTA:</label><br />
                                                    <select class="form-control" name="respuestaCorrecta-@i">
                                                        @for (int a = 1; a < 5; a++)
                                                        {
                                                            <option value="@a" name="preguntaElegida">Respuesta @a</option>
                                                        }

                                                    </select><br />
                                                </div>
                                            }


                                        @:</div>


                                        <div class="modal-footer">
                                            <button type="submit" class="btn botonAcceder">Añadir</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--MODAL CREAR TEXT-->
                }
            }

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">

                    @using (Html.BeginForm("Documentacion", "Cursos", FormMethod.Post))
                    {
                        <button class="btn btn-outline-info" type="submit"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;<b>@CursosAgentesResources.Temary</b></button>
                        <input type="text" name="idCurso" value="@Model.ID" style="display:none" />
                        <br /><br />
                    }
                </div>
            </div>

            <table class="table table-hover ">

                @foreach (var text in listaText.Where(x => x.ID_CURSO == Model.ID))
                {
                    foreach (var list in listaPuntuaciones)
                    {

                        if (list.ID_USUARIOS == (int)Session["idUsuario"] && list.ESTADO == 1 && list.ID_TEXTS == text.ID)
                        {
                            var siguiente = text.POSICION + 1;

                            @:<style>.text-@text.POSICION{pointer-events:none !important;cursor:default !important;opacity:0.5 !important;}</style>
                            @:<style>.text-@siguiente{pointer-events:initial !important;cursor:pointer !important;opacity:1.0 !important;}</style>
                        }


                    }
                    <tr class="text-@text.POSICION" id="texts">
                        <td>
                            <a href="@Url.Action("accederText", "Cursos",new { id=text.ID})">&nbsp;<B><i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp; @text.NOMBRE</B></a>
                        </td>
                    </tr>

                }

            </table>
            @if (listaCursosUsuarios != null)
            {
                foreach (var list in listaCursosUsuarios)
                {
                    if (list.ESTADO == 1 && list.ID_USUARIOS == (int)Session["idUsuario"] && list.ID_CURSOS == Model.ID)
                    {
                        <br />
                        using (Html.BeginForm("verCertificado", "Cursos", FormMethod.Post))
                        {
                            <input type="text" name="idCurso" value="@Model.ID" style="display:none" />
                            @:<button class="btn btn-success" type="submit"><b><i class="fa fa-caret-down" aria-hidden="true"></i> &nbsp; @CursosAgentesResources.DownloadCertificate</button></b>
                        }
                    }
                }
            }

            <div onclick="javascript: window.location='@Url.Action("cerrarSession", "Home")'" style="cursor:pointer;margin-left:15px;">
                <br /><br /><h5 style="color:Red"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;@CursosAgentesResources.LogOut</h5><br />
            </div>


            @*@foreach (var usu in listaCursosUsuarios)
        {
            if ((int)Session["idUsuario"] == usu.ID && usu.ADMIN == 1)
            {
                <div style="cursor:pointer;margin-left:15px">
                    <br /><br />
                    <h5> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;<a href="@Url.Action("Index", "Cursos")">VOLVER</a></h5><br />
                </div>

            }
            else if ((int)Session["idUsuario"] == usu.ID && usu.AGENTE == 1)
            {
                <div onclick="javascript: window.location='@Url.Action("cerrarSession", "Home")'" style="cursor:pointer;margin-left:15px;width:20%">
                    <br /><br /><h5 style="color:Red"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;SALIR</h5><br />
                </div>
            }
        }*@
        </div>
    </div>
  
</body>
</html>