﻿@{
    List<CursosAgentes.Models.CursosCursos_Usuarios> listaCursosUsuarios = ViewBag.listaCursosUsuarios;
    List<CursosAgentes.Models.CursosCursos> listaCursos = ViewBag.listaCursos;
    List<CursosAgentes.Models.CursosDocumentaciones> listaDocumentaciones = ViewBag.listaDocumentaciones;

}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>TITANES - @CursosAgentesResources.TrainingCourse</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <LINK href="~/Content/admin.css" rel="stylesheet" type="text/css">
    <style>

        a {
            text-decoration: none;
            color: black;
        }

        .contenido {
            margin-top: 50px;
            margin-bottom: 50px;
            border: 3px #ff8c00 solid;
            border-radius: 30px;
        }

        hr {
            width: 70%;
            border: 1px solid #ff8c00;
            border-radius: 30px;
        }

        .modal-content {
            background-color: lightgray;
        }

        .botonAcceder {
            background-color: #ff8c00;
            color: white;
        }

        .encabezadoTabla {
            background-color: #ff8c00;
            color: white;
        }
        .iframePdf {
            height: 800px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="container contenido">
            <br />
            @if ((string)System.Web.HttpContext.Current.Session["contexto"] == "IT")
            {
                <img src="~/img/logoitaliano.jpg" width="25%" /><br /><br />
            }
            else
            {
                <img src="~/img/logo.jpg" width="25%" /><br /><br />
            }
            <hr />

            <div style="cursor:pointer;margin-left:15px">
                <br /><br />
                <h5> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;<a onclick="window.history.back();">@CursosAgentesResources.Back</a></h5><br />
            </div>

            <br />

            <iframe src="@ViewBag.urlDoc" class="iframePdf"></iframe><br /><br />
        </div>
    </div>


        }
    }
</body>
</html>