﻿@{
    List<CursosAgentes.Models.CursosUsuarios> listaUsuarios = ViewBag.listaUsuarios;
    List<CursosAgentes.Models.CursosCursos> listaCursos = ViewBag.listaCursos;
    List<CursosAgentes.Models.AgentesUsuarios> listaAgentesUsuarios = ViewBag.listaAgentesUsuarios;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>TITANES - @CursosAgentesResources.TrainingCourse</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <LINK href="~/Content/admin.css" rel="stylesheet" type="text/css">
    <style>

        a {
            text-decoration: none;
            color: black;
        }
        .contenido {
            margin-top: 50px;
            margin-bottom: 50px;
            border: 3px #ff8c00 solid;
            border-radius: 30px;
        }

        hr {
            width: 70%;
            border: 1px solid #ff8c00;
            border-radius: 30px;
        }

        .modal-content {
            background-color: lightgray;
        }

        .botonAcceder {
            background-color: #ff8c00;
            color: white;
        }
        .encabezadoTabla {
            background-color: #ff8c00;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="container contenido">
            <br />
            @if ((string)System.Web.HttpContext.Current.Session["contexto"]=="IT")
            {
                <img src="~/img/logoitaliano.jpg" width="25%" /><br /><br />
            }
            else
            {
                <img src="~/img/logo.jpg" width="25%" /><br /><br />
            }
            <h1 class="titulo-principal" style="color:#ff8c00"><b> @CursosAgentesResources.Courses</b></h1>
            <hr />
            <br /><br />

            @foreach (var usu in listaUsuarios)
            {
                if ((int)System.Web.HttpContext.Current.Session["idUsuario"] == usu.ID && usu.ADMIN == 1)
                {
                    <button class="btn btn-success" data-toggle="modal" data-target="#modal-crear-curso">Nuevo Curso +</button>
                    <br /><br />

                }

            }

            <table class="table table-hover tabla-actualizaciones">


                @foreach (var usu in listaUsuarios)
                {
                    if ((int)Session["idUsuario"] == usu.ID && usu.ADMIN == 1)
                    {

                        foreach (var list in listaCursos)
                        {

                            <thead class="encabezadoTabla">
                                <tr>
                                    <td class="col-id titulo-tabla"><b>NOMBRE</b></td>
                                    <td class="col-botones"></td>
                                </tr>
                            </thead>
                            <tr class="curso-@list.ID" id="todoscursos">
                                <td class="col-id titulo-tabla">
                                    <a href="~/Cursos/accederCurso/@list.ID"><b><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;@list.NOMBRE </b></a>
                                </td>
                                <td class="col-botones">
                                    <div class="btn-group botones" role="group" aria-label="Basic example">

                                        <button type="button" class="btn btn-warning iconos-admin" data-toggle="modal" data-target="#modal-modificar-curso-@list.ID">Modificar</button>
                                        <button type="button" class="btn btn-danger iconos-admin" data-toggle="modal" data-target="#modal-eliminar-curso-@list.ID">Eliminar</button>

                                    </div>
                                </td>
                            </tr>



                            <!--MODAL CONFIRMACION ELIMINACION CURSO-->

                            <div class="modal" tabindex="-1" role="dialog" id="modal-eliminar-curso-@list.ID">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-body" style="text-align:center">

                                            @using (Html.BeginForm("eliminarCurso", "Cursos", FormMethod.Post))
                                            {
                                                <h3>¿De verdad quieres eliminar el curso " @list.NOMBRE"?</h3>
                                                <br />
                                                <input type="text" class="form-control" id="id_curso" name="id_curso" value="@list.ID" style="display:none" />
                                                <button type="submit" class="btn botonAcceder">Si </button>
                                            }
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <br /><br />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--MODAL CONFIRMACION ELIMINACION CURSO-->

                            <!--MODAL MODIFICAR CURSO-->

                            <div class="modal" tabindex="-1" role="dialog" id="modal-modificar-curso-@list.ID">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Modificar Curso</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            @using (Html.BeginForm("modificarCurso", "Cursos", FormMethod.Post))
                                            {
                                                <div class="form-group " style="">
                                                    <label for="">Nombre</label><br />
                                                    <input type="text" class="form-control" id="nombre" name="nombre" /><br />
                                                    <input type="text" class="form-control" id="id_curso" name="id_curso" value="@list.ID" style="display:none" />


                                                </div>


                                                <div class="modal-footer">
                                                    <button type="submit" class="btn botonAcceder">Modificar</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--MODAL MODIFICAR CURSO-->
                        }

                    }

                }

                @foreach (var ag in listaAgentesUsuarios)
                {
                    foreach (var list in listaCursos)
                    {
                        if (ag.id_usuarios == (int)Session["idUsuario"] && list.ID == 1)
                        {

                            <a href="@Url.Action("accederCurso", "Cursos",new { id=list.ID})">
                                <b><i class="fa fa-graduation-cap " aria-hidden="true"></i>&nbsp;@list.NOMBRE @DateTime.Today.Year</b>
                                <br /><br /><button class="btn botonAcceder">@CursosAgentesResources.DoCourse</button>
                            </a>


                        }

                    }
                }

            </table>

            <div onclick="javascript: window.location='@Url.Action("cerrarSession", "Home")'" style="cursor:pointer;margin-left:15px;">
                <br /><br /><h5 style="color:Red"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;@CursosAgentesResources.LogOut</h5><br />
            </div>

            @foreach (var usu in listaUsuarios)
            {
                if ((int)Session["idUsuario"] == usu.ID && usu.ADMIN == 1)
                {
                    <div style="cursor:pointer;margin-left:15px">
                        <br /><br />
                        <h5> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;<a href="@Url.Action("cerrarSession", "Home")">@CursosAgentesResources.Back</a></h5><br />
                    </div>

                }
                else if ((int)Session["idUsuario"] == usu.ID && usu.AGENTE == 1)
                {
                    <div onclick="javascript: window.location='@Url.Action("cerrarSession", "Home")'" style="cursor:pointer;margin-left:15px;">
                        <br /><br /><h5 style="color:Red"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;SALIR</h5><br />
                    </div>
                }
            }
        </div>
    </div>


    @foreach (var usu in listaUsuarios)
    {
        if ((int)Session["idUsuario"] == usu.ID && usu.ADMIN == 1)
        {
            <!--MODAL CREAR CURSO-->

            <div class="modal" tabindex="-1" role="dialog" id="modal-crear-curso">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">CREAR CURSO</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            @using (Html.BeginForm("crearCurso", "Cursos", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                            <div class="form-group ">

                                <label for="">NOMBRE CURSO:</label><br />
                                <input type="text" class="form-control" name="nombre" required /><br />
                                <input type="text" class="form-control" id="id_curso" name="usuCrea" value="@Session["idUsuario"]" style="display:none" />
                                <label for="">NOMBRE TEMARIO:</label><br />
                                <input type="text" class="form-control" name="nombreTemario" required /><br />
                                <label for="">ADJUNTAR TEMARIO:</label><br />
                                <input type="file" class="form-control" name="urlProcedimiento" required />

                            </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn botonAcceder">Añadir</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>

            <!--MODAL CREAR CURSO-->
        }
    }
        </body>
</html>