﻿body {
    background-color: lightgray;

    
}
a:link {
    text-decoration: none;
    color: black;
}
.contenido {
    background-color: white;
    text-align: center;
    justify-content: center;
    padding: 5%;

}
