﻿body {
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 12%;
    padding-bottom:10%;
    padding-left:25%;
    padding-right:25%;
}

.login {
    background-color: white;
    border-radius: 30px;
    padding:5%;
    border:3px #ff8c00 solid;
}

.logotipo {
    display: flex;
    align-items: center;
    justify-content:center;
}

.formulario h4 {
    text-align:left;
}

h4 {
    color: #ff8c00;
    font-size:20px;
}
.botonAcceder {
    background-color: #ff8c00;
    color: white;
}
.contenido{
    background-color: white;
}